.about-cover-photo {
    background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
      -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
      color: rgb(0, 0, 0);
      text-align-last: center;
      animation: gradient 150s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.about-cover-photo h1 {
    color: white;
}


.about-body {
    background-color: rgba(255, 255, 255, 0.144);
    padding: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}